spring:
  application:
    name: order-hub-project
  datasource:
    url: jdbc:postgresql://localhost:${POSTGRES_PORT}/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jooq:
    sql-dialect: postgres
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 50
        order_updates: true
        order_insert: true
        generate_statistics: true
  liquibase:
    user: postgres
    password: postgres
    analytics-enabled: true
    change-log: db/changelog/changelog_master.yaml
server:
  port: 8081
logging:
  level:
    sql: debug
management:
  server:
    port: 9090
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info,startup
  endpoint:
    startup:
      access: unrestricted