spring:
  application:
    name: order-hub-project
  profiles:
    active: local
  datasource:
    url: jdbc:postgresql://localhost:${POSTGRES_PORT}/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 50
        order_updates: true
        order_insert: true
        generate_statistics: true
  liquibase:
    user: postgres
    password: postgres
    analytics-enabled: true
    change-log: db/changelog/changelog_master.yaml
server:
  port: 8081
logging:
  level:
    sql: debug
    root: info
    by.sadovnick.orderhub: debug
management:
  info:
    env:
      enabled: true
    git:
      enabled: true
      mode: full
  server:
    port: 9090
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include:
          - health
          - info
          - metrics
          - prometheus
          - loggers
  endpoint:
    startup:
      access: unrestricted
    health:
      show-details: always
      probes:
        enabled: true
info:
  app:
    name: "Order-Hub"
    version: "0.0.1"
    description: "smth info"